<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Proxmox Mail Gateway - Quarantine</title>

    <link rel="stylesheet" href="/fontawesome/css/font-awesome.css">
    <style>
        /* Avoid flickering (default background in firefox is always white)*/
        @media (prefers-color-scheme: dark) {
            body {
                background: #333;
            }
        }

        @media (prefers-color-scheme: light) {
            body {
                background: #fff;
            }
        }

    </style>
    <script type="text/javascript">
        Proxmox = {
            UserName: '[% username %]',
            CSRFPreventionToken: '[% token %]'
        };
    </script>
    <link rel="preload" href="/mobile/js/pmg-quarantine-gui_bg.wasm.gz" as="fetch" type="application/wasm" crossorigin="">
    <link rel="modulepreload" href="/mobile/js/pmg-quarantine-gui_bundle.js">
</head>

<body>
    <script type="module">
        import init from '/mobile/js/pmg-quarantine-gui_bundle.js';
        const decompressedResponse = new Response(
                await fetch('/mobile/js/pmg-quarantine-gui_bg.wasm.gz')
                        .then(res => res.body.pipeThrough(new DecompressionStream("gzip")))
        );
        // set correct type to allow using faster WebAssembly.instantiateStreaming
        decompressedResponse.headers.set("Content-Type", "application/wasm");
        init(decompressedResponse);
    </script>
</body>

</html>
